.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .text-muted {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 18px;
  }

  .form-login {
    height: 22vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.btn-primary:disabled {
  color: darkslategray !important;
  background-color: lightgrey !important;

  &:hover {
    color: darkslategray !important;
    background-color: #009e9a !important;
  }
}
